<h1>
    Listing all articles
</h1>
<div class="content">
    <%= link_to "New article", new_article_path, class: "btn btn-xs btn-primary" %>
    <table>
            <tr class="article-title">
                <th>Title</th>
                <th>Description</th>
            </tr>
            <% @articles.each do |article| %>
            <tr>
                <td><%= link_to article.title, article_path(article) %></td>
                <td><%= article.description %></td>
                <div class="right">
                <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary right" %></td>
                <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger right" %></td>
                </div>
            </tr>
            <% end %>
    </table>
</div>