<h1>Listing all categories</h1>
<div class="col-sm-2">
    <%= link_to "New Articles", new_article_path, class:"btn btn-primary btn-lg btn-style2" %>
</div>
<div class="col-sm-offset-2">
    <%= will_paginate %>
</div>
    <% @categories.each do |category| %>
        <ul class="listing">
            <div class="row">
                <div class="well col-xs-5 col-xs-offset-4">
                    <li class="category-title">
                        <%= link_to "#{category.name}", category_path(category) %>
                    </li>
                    <li align="center"><small><%= pluralize(category.articles.count, "article") %></small></li>
                    <% if logged_in? && current_user.admin? %>
                        <div align="right">
                        <%= link_to "Edit Category Name", edit_category_path(category), class: "btn btn-xs btn-primary" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </ul>
    <% end %>
<div class="col-sm-offset-2">
    <%= will_paginate %>
</div>